body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  form {
    border: 3px solid #f1f1f1;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }


.newslatter{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: gray;
}

.flex{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 30px;
    margin: 10px;
}

.orange-color{
    color: orange;
}

.inner-body{
    margin-bottom: 50px;
}
.inner-body-padding{
    padding-right: 30px;
}

.a-gradien{
    text-decoration: none;
    padding: 5px 20px;
    background-image: linear-gradient(salmon,orange);
    border-radius: 10px;
}
p{
    text-align: justify;
    border-image: linear-gradient(gray,white);
}
#second-section{
    background-image: url(images/Frame\ 58.jpg);
}

.recipies{
    width: 27%;
    margin-left: 5%;

    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;

    
}
.recipies-left{

}
.recipies-right{

}
#recipies-hedline{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.recipie-img{
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 10px;
    border-radius: 25px;
}
.recipie-details{
    padding-left: 5px;
    padding-right: 5px;
}

.div-footer{
    background-color: lightslategray;
}
.foot{

    height: 150px;
    background: black;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
}
.foot h4{
    color: gray
}
.foot p{
    color: white;
    text-align: center;
}