body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: gray;
}

.flex{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 30px;
    margin: 10px;
}

.orange-color{
    color: orange;
}

.inner-body{
    margin-bottom: 50px;
}
.inner-body-padding{
    padding-right: 30px;
}

a{
    text-decoration: none;
    padding: 5px 20px;
    background-image: linear-gradient(salmon,orange);
    border-radius: 10px;
}
p{
    text-align: justify;
    border-image: linear-gradient(gray,white);
}
#second-section{
    background-image: url(images/Frame\ 58.jpg);
}

.recipies{
    width: 27%;
    margin-left: 5%;

    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;

    
}
.recipies-left{

}
.recipies-right{

}
#recipies-hedline{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.recipie-img{
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 10px;
    border-radius: 25px;
}
.recipie-details{
    padding-left: 5px;
    padding-right: 5px;
}
footer{
    text-align: center;
    background-color: slategray;
}
#footer-top{
    padding-bottom: 50px;
    
}